.footer{
    height: 698px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    .footer-upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-upper__left{
            flex: 0 0 33%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .footer-info{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .footer-logo{
                    display: block;
                    img {
                        width: 82px;
                        height: 110px;
                        align-self: center;
                        display: block;
                        object-fit: contain;
                    }
                }
                .footer-description{
                    color: rgba(25, 25, 25, 1);
                }
                .footer-register-title{
                    color: rgba(25, 25, 25, 1);
                }
                .subscription-box{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 12px;
                    border-bottom: 1px solid rgba(25, 25, 25, 1);
                    input{
                        color: rgba(25, 25, 25, 1);
                    }
                    .btn-primary{
                        width: 157px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        background: rgba(241, 75, 35, 1);
                        border-radius: 30px;
                        border: none;
                        cursor: pointer;
                        span{
                            font-size: 16px;
                            color: rgba(250, 250, 250, 1);
                        }
                    }
                }
            }
            
        }
        .footer-upper__right{
            display: flex;
            justify-content: space-between;
            
        }
    }
}