.menu-header {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-wrapper {
    display: block;
    img {
        width: 58px;
        height: 78px;
        align-self: center;
        display: block;
        object-fit: contain;
    }
}
.menu-header__wrapper{
    display: flex;
    justify-content: space-between;
}

.menu-header__list {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
    gap: 40px;
    .menu-header__list-item{
        a{
            color: var(--primary);
        }
        &:hover{
            a{
                color: var(--second);
            }
        }
    }
}

.menu-header__language{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    span{
        color: var(--primary);
    }
}