$C_primary:rgba(40, 50, 72, 1);
$C_second: rgba(241, 75, 35, 1);
$C_black: rgba(25, 25, 25, 1);
$C_white: rgba(250, 250, 250, 1);

.helvetica-neue-condensed-black{
    font-family: "helvetica-neue-condensed-black";
}

.helveticaneue{
    font-family: 'helveticaneue';
}

.helvetica-neue-medium{
    font-family: "helvetica-neue-medium";
}

.helvetica-neue-light{
    font-family: "helvetica-neue-light";
}

.helvetica-neue-regular{
    font-family: "helvetica-neue-regular";
}